.homePage {
  /* padding: 0px 50px; */
}
.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: 100vh; */
  padding: 30px 80px;
  margin-bottom: 50px;
}

.heroData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.heroData h1 {
  color: #851d1d;
  font-size: 48px;
}

.heroData p {
  color: #851d1d;
  width: 70%;
  font-size: 22px;
}

.productBtn {
  width: 40%;
  padding: 10px 20px;
  background-color: #e77105;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  transition: all 0.5s;
}

.productBtn:hover {
  transform: translateX(10px);
}

.heroImg {
  width: 500px;
  height: 500px;
  margin-right: -80px;
}

.infoBgSection {
  background: url("../public/images/bgImg1.png");
  width: 100%;
  height: 300px;
  /* margin: 0px -50px; */
  /* margin-left: -50px;
    margin-right: -100px; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBgSection p {
  font-size: 30px;
  width: 60%;
  text-align: center;
}

.whySection {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.whySectionTitle {
  text-align: center;
  font-size: 40px;
  color: green;
  position: relative;
}

.whySectionTitle::before {
  content: "";
  height: 2px;
  width: 35%;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: green;
}

.whySectionTitle::after {
  content: "";
  height: 2px;
  width: 35%;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: green;
}

.whyContainer {
  display: flex;
  justify-content: center;
  gap: 150px;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.whyImgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  gap: 30px;
}

.whyImg {
  width: 130px;
  height: 130px;
  transition: all 0.5s;
}

.whyImg:hover {
  transform: scale(1.2);
}

.whyImgBox p {
  color: #851d1d;
  font-size: 18px;
  text-align: center;
}

.whoSection {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  background-color: #ffddce;
}

.whoSectionTitle {
  color: #851d1d;
  font-size: 40px;
  position: relative;
  padding-left: 12%;
  z-index: 1;
}

.whoSectionTitle::before {
  content: "";
  height: 2px;
  width: 10%;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #851d1d;
}

.whoSectionTitle::after {
  content: "";
  height: 2px;
  width: 65%;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #851d1d;
}

.whoInfo {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  position: relative;
}

.whoInfoData {
  width: 40%;
  font-size: 22px;
  color: #851d1d;
}

.whoImageBox {
  margin-right: 30px;
}

.whoImage {
  margin-top: -120px;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  z-index: 2;
  position: sticky;
}

.whoImageTwo {
  position: absolute;
  right: 80px;
  top: 250px;
  border-radius: 10px;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    padding: 30px;
    margin-bottom: 0px;
    height: 90vh;
  }

  .heroData {
    gap: 20px;
    width: 100%;
  }

  .heroData h1 {
    font-size: 35px;
  }

  .heroData p {
    width: 100%;
  }

  .productBtn {
    width: 60%;
  }

  .heroImg {
    width: 350px;
    height: 350px;
    margin-right: 0px;
    display: none;
  }

  .infoBgSection p {
    font-size: 20px;
    width: 90%;
  }

  .whySectionTitle {
    font-size: 26px;
    /* text-align: left; */
  }

  .whySectionTitle::before {
    width: 20%;
    top: 19px;
  }

  .whySectionTitle::after {
    width: 20%;
    top: 19px;
  }

  .whyContainer {
    gap: 50px;
  }

  .whyImgBox {
    width: 130px;
    gap: 30px;
  }

  .whyImg {
    width: 100px;
    height: 100px;
  }

  .whoSectionTitle {
    font-size: 26px;
  }

  .whoSectionTitle::before {
    width: 10%;
    top: 19px;
  }

  .whoSectionTitle::after {
    width: 40%;
    top: 19px;
  }

  .whoInfo {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }

  .whoInfoData {
    width: 100%;
    font-size: 16px;
  }

  .whoImage {
    width: 300px;
    height: 400px;
    margin-top: 0px;
  }

  .whoImageTwo {
    position: absolute;
    right: 30px;
    top: 650px;
    border-radius: 10px;
    z-index: 3;
    width: 170px;
    height: 230px;
  }
}
