.products-details-section {
  background: linear-gradient(to bottom, #fff6cd 0%, #ffe8e4 100%);
  margin: 30px 80px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
}

.products-details-title {
  color: #851d1d;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}

.product-container {
  display: flex;
  width: 100%;
}

.product-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img-fit {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.product-img {
  width: 100%;
  height: 100%;
}

.product-name {
  color: #851d1d;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.product-img-flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.product-img-rack {
  width: 120px;
  height: 120px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.1s;
}

.product-img-rack:hover {
  border: 2px solid #851d1d;
  border-radius: 10px;
}

.product-order-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  justify-content: space-between;
}

.select-date {
  /* border: 2px solid #851d1d;
    color: #851d1d;
    background-color: transparent !important;
    border-radius: 5px; */
}

.mantine-1d1i3r0:not(:disabled) {
  background-color: transparent;
  color: #851d1d;
  width: 100%;
  border: 2px solid #851d1d;
  padding: 15px 20px;
}

.grade-box {
  display: flex;
  gap: 30px;
}

.grade-select {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #851d1d;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ac3d3d;
}

.grade-select:hover {
  border: 2px solid #851d1d;
}

.product-quantity {
  display: flex;
  align-items: center;
  border: 2px solid #851d1d;
  width: fit-content;
  border-radius: 5px;
}

.product-quantity-icons {
  font-size: 40px;
  padding: 0 10px;
  color: black;
  cursor: pointer;
}

.product-quantity-value {
  padding: 10px 0px;
  background-color: white;
  width: 50px;
  text-align: center;
}

.product-price-flex {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #851d1d;
  font-weight: 600;
}

.product-price {
  font-size: 30px;
  color: #851d1d;
}

.prduct-action-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-basket {
  border: 2px solid #851d1d;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.product-order-btn {
  background-color: #851d1d;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.product-description {
  background-color: #fff9f1;
  padding: 30px;
  font-size: 15px;
  border-radius: 10px;
}

.product-signin-btn{
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  background-color: #851d1d;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .products-details-section {
    margin: 30px;
  }
  .products-details-title {
    font-size: 26px;
    display: none;
  }

  .product-container {
    flex-direction: column;
  }

  .product-box {
    width: 100%;
  }

  .product-img-fit {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .product-img-rack {
    width: 60px;
    height: 60px;
  }

  .product-order-box {
    width: 100%;
    padding: 40px 0;
  }

  .product-price-flex {
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
  }
}
